.match.duration.chart{
  width: 950px;
  height: 300px;
}

.summoner.tier{
  width: 950px;
  height: 400px;
}

.summoner.tier.chart{
  width: 475px;
  height: 300px;
  display: inline-block;
  float: left;
}

.summoner.tier.explain{
  width: 475px;
  height: 300px;
  display: inline-block;
  float: right;
}

.tier.statistics{
  margin-bottom:1px;
}

.champions.scatterplot{
  width: 950;
  height: 600;
}

.champions.scatterplot.chart{
  width: 600px;
  height: 600px;
  float: left;
}

.champions.scatterplot.explain{

}
